body {
    padding-top: 50px;
}
  
.w-49{
  width: 49%;
}
.w-90 {
  width: 90% !important;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
}

.pos-absolute{
  //position: absolute;
}

.btn-theme-reverse{
  background-color: $secondary_theme_color;
  color: #fff;
}
.btn-theme-reverse:hover {
  color: #fff;
  background-color: $primary_theme_color;
  border-color: $primary_theme_color;
}
.theme-bg-color, .btn-theme, .card-theme{
  background-color: $primary_theme_color;
  color: #fff;
}

.btn-theme {
  border-color: $primary_theme_color;
}

.btn-theme-reverse{
  background-color: $secondary_theme_color !important;
  border-color: $secondary_theme_color !important;
}

.btn-theme:hover {
  color: #fff;
  background-color: $secondary_theme_color;
  border-color: $secondary_theme_color;
}

.theme-color {
  color: $primary_theme_color;
}

.theme-secondary-bg-color {
  background-color: $secondary_theme_color;
  color: #fff;
}

.theme-secondary-color {
  color: $secondary_theme_color;
}

.separator {
  border-right: 2px solid;
  margin-left: 5px;
}

.footer-nav a {
  padding-left: 5px;
  color: #fff;
}

.login-row, .profile-row, .help-row{
  height: 80vh;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flex-align-center {
  justify-content: center;
  align-items: center;
}

.login-card{
  width: 80%;
}
.row-border-bottom{
  border-bottom: 1px solid black;
}
.container-middle {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.page-item.active .page-link {
  background-color: $primary_theme_color;
  border-color: $primary_theme_color;
}