<template>
    <div class="container container-middle">
        <div class="row row-border-bottom">
            <div class="col-md-12">
                <div>
                    <h2 class="py-2">Contact</h2>
                </div>
                <div>
                    <p>There are two different people which you can contact, depending on your concern at hand:</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2 class="py-4">Maintainer</h2>
                <p>
                    If you have any questions, problems or issues regarding this specific instance of Foo, 
                    please contact the maintainer 
                    at foobar@uni-mainz.de.
                </p>
            </div>
            <div class="col-md-6">
                <h2 class="py-4">Developer</h2>
                <p>
                    If you have general questions about Foo or want to report a bug or an idea for 
                    improvement, you can simply file an issue in the Bitbucket issue tracking system or 
                    you can contact the developer directly at foobar@uni-mainz.de.
                </p>
            </div>
        </div>
    </div>
</template>

<script>
import grid from './../components/Grid.vue';
export default {
    components: {
        grid
    }
}
</script>