<template>
    <faq-content/>
</template>

<script>
import faqContent from './../components/FaqContent.vue'
    export default {
         components: {
            faqContent
        }
    }
</script>