<template>
    <grid leftClasses="col-md-3" rightClasses="col-md-9" rowClasses="row">
        <template v-slot:left>
            <filter-side @selected="selected" @search="search" @filters_applied="applyFilters" />
        </template>

        <template v-slot:right>
            <home-page-content/>
            <content-table
                :data="topics" 
                :headers="headers" 
                :make_pagination="true" 
                @pagination-change-page="changePage"
            />
        </template>
    </grid>
</template>

<script>
    import grid from './../components/Grid.vue'
    import FilterSide from './../components/FilterSide.vue'
    import HomePageContent from './../components/homePageContent.vue'
    import ContentTable from './../components/ContentTable.vue'

    export default {
        components: {
            grid,
            FilterSide,
            HomePageContent,
            ContentTable
        },

        props: {
            archived: {
                type: Number,
                default: 0
            }
        },

        data() {
            return {
                topics : {},
                headers: [
                    {
                        name: 'Name',
                        property: 'name'
                    },

                    {
                        name: 'Type',
                        property: 'type',
                        subproperty: 'name'
                    },

                    {
                        name: 'Contact',
                        property: 'contact',
                        subproperty: 'contact_info'
                    },

                    {
                        name: 'Description',
                        component: 'table-description'
                    },
                ],

                selectedFilter: {
                    search: '',
                    language: '',
                    type_id: '',
                    work_groups: []
                }
            }
        },

        mounted() {
            this.getTopcis();
        },

        methods: {
            getTopcis(page = 1, filters = null) {
                let params = {
                    archived: this.archived,
                    ... filters
                };

                axios
                    .get(`/api/topics?page=${page}`, { params })
                    .then(response => this.topics = response.data)
                    .catch(error => {
                        alert('Something went wrong!');
                        console.log(error);
                    })
            },

            changePage(page) {
                this.getTopcis(page, this.selectedFilter);
            },

            search() {
                this.getTopcis(1, this.selectedFilter)
            },

            selected(filter) {
                if (filter.type === 'filter') {

                }

                this.selectedFilter[filter.type] = filter.value
            },

            applyFilters(filters) {
                this.selectedFilter.type_id = filters.type_id;
                this.selectedFilter.language = filters.language;
                this.selectedFilter.work_groups = filters.work_groups;
            }
        }  
    }
</script>