<template>
    <grid leftClasses="col-md-3 flex-center" rightClasses="col-md-9 flex-center" rowClasses="row login-row">
        <template v-slot:left>
            <button 
                class="my-2 btn btn-theme w-100"
                :class="{ 'btn-theme-reverse' : !archived }" 
                @click='reloadTopics(0)'
            > 
                    My Active Topics 
            </button>

            <button 
                class="my-2 btn btn-theme w-100" 
                :class="{ 'btn-theme-reverse' : archived }"
                @click='reloadTopics(1)'
            > 
                    My Archived Topics 
            </button>
        </template>

        <template v-slot:right>
            <content-table
                :data="topics" 
                :headers="headers" 
                :make_pagination="false" 
            />
        </template>
    </grid>
</template>

<script>
import Grid from './../components/Grid.vue'
import ContentTable from './../components/ContentTable.vue'

    export default {
         components: {
            Grid,
            ContentTable
        },

        data() {
            return {
                user_id: JSON.parse(localStorage.getItem('user')).id,
                archived: 0,
                topics: [],
                headers: [
                    {
                        name: 'Name',
                        property: 'name'
                    },

                    {
                        name: 'Type',
                        property: 'type',
                        subproperty: 'name'
                    },

                    {
                        name: 'Description',
                        component: 'table-description'
                    },

                    {
                        name: 'Actions',
                        component: 'table-actions'
                    },
                ],
            }
        },

        mounted() {
            this.getTopics();
        },

        methods: {
            getTopics() {
                let params = {
                    'user_id' : this.user_id,
                    'archived' : this.archived,
                };
  
                axios
                    .get(`/api/user-topics`, { params })
                    .then(response => {
                        this.topics = response.data;
                    })
                    .catch(error => {
                        alert('Something went wrong!');
                        console.log(error);
                    })
            },

            reloadTopics(archived) {
                this.archived = archived;
                this.getTopics();
            }
        }
    }
</script>