<template>
    <grid leftClasses="col-md-2 flex-center" rightClasses="col-md-10 flex-center" rowClasses="row login-row">
        
        <template v-slot:left>
            <!-- <profileInfo/>
            <profileDefFilter/> -->
            <button class="my-2 btn btn-theme w-100" @click='comp = `profileInfo`'> Profile Information </button>
            <button class="my-2 btn btn-theme w-100" @click='comp = `profileDefFilter`'> Default Filters </button>
            <button class="my-2 btn btn-theme w-100" @click='comp = `profileNewsletter`'> Newsletter </button>
            
        </template>

        <template v-slot:right>
            <!-- <profileNewsletter/> --> 
                <component :is='comp' class="w-90"/>
            
        </template>
    </grid>
</template>

<script>
import grid from './../components/Grid.vue'
import profileInfo from './../components/profileInfo'
import profileDefFilter from './../components/profileDefFilter'
import profileNewsletter from './../components/profileNewsletter'
    export default {
         components: {
            grid,
            profileInfo,
            profileDefFilter,
            profileNewsletter
        },
        data (){
            return {
                comp: profileInfo
            }
        }
    }
</script>