<template>
    <grid leftClasses="col-md-6 flex-center" rightClasses="col-md-6 flex-center" rowClasses="row login-row">
        <template v-slot:left>
            <loginContent/>
        </template>

        <template v-slot:right>
            <registrationForm/>
        </template>
    </grid>
</template>

<script>
import grid from './../components/Grid.vue'
import loginContent from './../components/LoginContent'
import registrationForm from './../components/RegistrationForm'
    export default {
         components: {
            grid,
            loginContent,
            registrationForm
        }
    }
</script>