<template>
    <div>
        <navigation/>
        <router-view/>
        <appFooter />
    </div>
</template>

<script>
    import appFooter from './Footer.vue';
    import navigation from './Navigation.vue';

    export default {
        components: {
            appFooter,
            navigation,
        }
    }
</script>