<template>
  <div class="w-100">
    <table class="table table-bordered table-responsive-md">
        <thead class="theme-secondary-bg-color">
          <tr>
            <th>#</th>
            <th v-for="(header, key) in headers" :key="key" v-text="header.name"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, item_key) in table_items" :key="item_key">
            <th v-text="item.id"></th>
            <td v-for="(header, header_key) in headers" :key="header_key">
              <component 
                v-if="header.hasOwnProperty('component')" 
                :is="header.component" 
                :item="item"
                :index="item_key"
                @item_updated="updateItem"
                @item_deleted="removeFromArray"
              >
              </component>
              <span v-else v-html="constructItem(item, header)"></span>
            </td>
          </tr>
        </tbody>
    </table>

    <pagination
      v-if="make_pagination" 
      :data="data" 
      @pagination-change-page="delegatePageChange" 
      class="flex-align-center">
    </pagination>
  </div>
</template>

<script>
  import TableDescription from './TableDescription.vue';
  import TableActions from './TableActions.vue';
  import Pagination from 'laravel-vue-pagination';

  export default {
    props: ['data', 'headers', 'make_pagination'],

    components: {
      TableDescription,
      TableActions,
      Pagination
    },

    data() {
      return {
        table_items: []
      }
    },

    watch: {
      data: function () {
        this.table_items = this.data.data ?? this.data
      }
    },

    methods: {
      constructItem(item, header) {
        let constructedItem = item[header.property];

        if (header.hasOwnProperty('subproperty')) {
          constructedItem = constructedItem[header.subproperty];
        }

        return constructedItem;
      },

      delegatePageChange(page) {
        this.$emit('pagination-change-page', page);
      },

      removeFromArray({ index }) {
        this.table_items.splice(index, 1);
        // this.table_items = {... this.table_items};
      },

      updateItem({ index, item}) {
        this.table_items[index] = item;
        this.table_items = {... this.table_items};
      }
    }
  }
</script>