<template>
    <div class="dropdown py-2 w-100 ">
        <button 
            class="btn btn-theme dropdown-toggle w-100" 
            type="button" 
            id="dropdownMenuButton" 
            data-toggle="dropdown" 
            aria-haspopup="true" 
            aria-expanded="false"
        >
            {{ label }}: {{ selected }}
        </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a
                v-if="includeNone"
                class="dropdown-item" 
                href="#"
                :data-id="null"
                :data-name="null"  
                @click.prevent = "select"
            >
                None
            </a>

            <a 
                class="dropdown-item" 
                href="#"
                :data-id="item.id"
                :data-name="item.name"  
                v-for="(item, key) in data" :key="key" 
                @click.prevent = "select"
            >
                {{ item.name }}
            </a>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            data: {
                type: Array,
                default: []
            },

            label: {
                type: String,
                default : '',
            },

            type: {
                type: String,
                default : '',
            },

            initialSelected: {
                default: 0
            },

            includeNone: {
                default: true
            }
        },

        data() {
            return {
                selected: this.resolveId(this.initialSelected)
            }
        },

        watch: {
            initialSelected(value) {
                this.selected = this.resolveId(value);
            }
        },
        
        methods: {
            select(event) {
                this.selected = event.target.getAttribute('data-name');
                this.$emit('selected', {
                    filter: {
                        type: this.type,
                        value:  event.target.getAttribute('data-id')
                    }
                });
            },

            resolveId(id) {
                if (!id) return '';
                return this.data.find(item => item.id == id).name;
            }
        }
    }
</script>