<template>
    <div class="card my-4 flex-center p-2">

        <dropdown :data="filters" label="Search Profiles" type="filter" @selected="selected"/>

        <div class="py-2 w-100">
            <button type="button" class="btn btn-theme w-49" @click.prevent="deleteFilters">
                Delete
            </button>
            
            <modal modal_id="filters" :footer="true" modal_btn_class="btn btn-theme w-49">
                <template v-slot:btn-text>
                    Save
                </template>

                <template v-slot:modal-title>
                    Please name your filter profile.
                </template>

                <template v-slot:modal-body>
                    <div class="form-group">
                        <label for="filter_name">
                            Name
                        </label>
                        
                        <input  
                            class="form-control" 
                            id="filter_name" 
                            placeholder="Enter your filter name!"
                            v-model="filter_name"
                            required
                        >
                    </div>
                </template>

                <template v-slot:modal-footer>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                        Cancle
                    </button>

                    <button type="button" class="btn btn-primary" data-dismiss="modal" @click="saveFilters">
                        Save
                    </button>
                </template>
            </modal>  
        </div>

        <dropdown 
            :data="topicTypes" 
            label="Type of Work" 
            type="type_id" 
            @selected="selected"
            :initialSelected="type_id"
        />

        <dropdown 
            :data="languages" 
            label="Language" 
            type="language" 
            @selected="selected"
            :initialSelected="language"
        />

        <div class="py-3">
            <h5>Chose work group:</h5>
            <div class="form-check" v-for="(workGroup, key) in workGroups" :key="key">
                <input class="form-check-input" v-model="checkedWorkGroups" :value="workGroup.id" type="checkbox">
                <label class="form-check-label">
                    {{ workGroup.name }}
                </label>
            </div>
        </div>

        <div class="py-3 w-100">
            <div class="input-group input-group-sm mb-3 pl-2 pr-2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Search:</span>
                </div>

                <input 
                    type="text" 
                    class="form-control" 
                    aria-label="Small" 
                    aria-describedby="inputGroup-sizing-sm"
                    v-model="search"
                >
            </div>
            
            <button type="button" class="btn btn-theme w-100" @click.prevent="startSearch">
                Search
            </button>
        </div>
    </div>
</template>

<script>
    import Dropdown from './Dropdown.vue';
    import Modal from './Modal';
    import FilterGettersMixin from './../mixins/FilterGettersMixin.vue'

    export default {
        mixins: [
            FilterGettersMixin
        ],

        components: { 
            Dropdown,
            Modal
        },

        data() {
            return {
                checkedWorkGroups: [],
                language: 0,
                type_id: 0,
                filter_name: '',
                search: '',
                filters: [],
                filter: ''
            }
        },

        watch: {
            checkedWorkGroups() {
                this.$emit('selected', {
                        type: 'work_groups',
                        value: this.checkedWorkGroups
                })
            },

            search() {
                this.$emit('selected', {
                        type: 'search',
                        value: this.search
                })
            }
        },

        mounted() {
            this.$nextTick(() => {
                this.getFilters();
            })
            
        },
        
        methods: {
            selected(event) {
                this[event.filter.type] = event.filter.value;
                
                if (event.filter.type === 'filter') {
                    this.applyFilters();
                }

                this.$emit('selected', event.filter)
            },

            startSearch() {
                this.$emit('search')
            },

            getFilters() {
                axios
                    .get(`/api/user-filters/${this.$root.user.id}`)
                    .then(response => this.filters = response.data)
                    .catch(error => {
                        console.log(error);
                        alert('Could not get user filters');
                    })
            },

            saveFilters() {
                const payload = {
                    user_id : this.$root.user.id,
                    name: this.filter_name,
                    filters: {
                        language: this.language,
                        type_id: this.type_id,
                        work_groups: this.checkedWorkGroups
                    }
                };

                axios
                    .post('/api/user-filters', payload)
                    .then(response => {
                        this.filter = response.data.id;
                        this.filters.push(payload);
                        alert('Filter successfully created!');
                    })
                    .catch(error => {
                        console.log(error);
                        alert('Could not save filter profile');
                    })
            },

            deleteFilters(){
                axios
                    .delete(`/api/user-filters/${this.filter}`)
                    .then(() => {
                        this.filters.splice(this.getFiltersIndex(), 1);
                        alert('Succesfully deleted');
                    })
            },

            getFiltersObject() {
                 return this.filters.find(filter => filter.id == this.filter).filters;
            },

            getFiltersIndex() {
                return this.filters.findIndex(filter => filter.id == this.filter);
            },

            applyFilters() {
                const filters = this.getFiltersObject();

                this.checkedWorkGroups = filters.work_groups;
                this.language = filters.language;
                this.type_id = filters.type_id;

                this.$emit('filters_applied', filters);
            }
        }
    }
</script>