<template>
    <footer 
        class="footer py-4 theme-secondary-bg-color" 
        :class="{ 'pos-absolute' : absolutePages.includes($router.currentRoute.name) }"
    >
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p class="m-0 text-white">
                        Copyright &copy; Your Website 2020
                    </p>
                </div>
                <div class="col-md-4">
                     <img border="0" alt="Laravel" title="Laravel" src="\files\laravel.png" width="50" height="50">
                     <img border="0" alt="Vue.js" title="Vue.js" src="\files\vuejs.png" width="50" height="50">
                     <img border="0" alt="Bootstrap" title="Bootstrap" src="\files\bootstrap.png" width="45" height="45">
                </div>
                <div class="col-md-4">
                    <ul class="float-right">
                        <a class="text-white" href="/Contact">Contact</a>
                        |
                        <a class="text-white" href="/FAQ">Help</a>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
    export default {
        data() {
            return {
                absolutePages: [
                    'FAQ'
                ]
            }
        },

        methods: {
            toggleAbsolute() {
                console.log('test');
                return { 'pos-absolute' : absolutePages.includes($router.currentRoute.name) };
            }
        }
    }
</script>