<template>
    <div class="container">
        <div :class="rowClasses">
            <div :class="leftClasses">
                <slot name="left"></slot>
            </div>
            <div :class="rightClasses">
                <slot name="right"></slot>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['leftClasses', 'rightClasses', 'rowClasses'],
    }
</script>