<template>
    <div>
        <h1 class="my-5">Study Work and Thesis topics</h1>
        <new-thema-modal/>
    </div>
</template>

<script>

import newThemaModal from './NewThemaModal.vue';
export default {
    components:{
        newThemaModal
    }
}
</script>