<template>
    <div>
        <div class="w-100">
            <h3> Welcome to foo.de</h3>
        </div>
        <div class="w-100">
            <img src="https://via.placeholder.com/450x150">
        </div>
        <div class="w-100">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </div>
        <div class="w-100">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. <br> <a href="#">foo.uni-minz.de</a></p>
        </div>
    </div>
</template>