<template>
    <div class="card login-card">
        <div class="card-header theme-bg-color">
          Featured
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">
                    Email address
                  </label>
                  
                  <input 
                    type="email" 
                    class="form-control" 
                    id="exampleInputEmail1" 
                    aria-describedby="emailHelp" 
                    placeholder="@students.uni-mainz.de"
                    v-model="email"
                    required
                  >
                </div>

                <div class="form-group">
                  <label for="exampleInputPassword1">
                    Password
                  </label>
                  
                  <input 
                    type="password" 
                    class="form-control" 
                    id="exampleInputPassword1" 
                    placeholder="Password"
                    v-model="password"
                    required
                    min="6"
                  >
                </div>

                <div class="form-group">
                    <a href="/register"> Dont have an account? Sign up! </a>
                </div>
                
                <button type="submit" class="btn btn-theme" @click.prevent="login">
                  Login
                </button>
            </form>
        </div>
    </div>
</template>

<script>
  export default {
    data() {
      return {
        email: '',
        password: ''
      }
    },

    methods: {
      login() {
        let payload = {
          email: this.email,
          password: this.password
        }

        axios.post('/api/auth/login', payload)
          .then(response => {
            localStorage.setItem('user', JSON.stringify(response.data.user));
            localStorage.setItem('access_token', response.data.access_token);

            this.$router.push({'name' : 'home'});
          })
          .catch(error => {
            console.log(erorr.response);
            if (error.response.status === 401) {
              alert('Invalid email or password !');
            }
          });
      }
    }
  }
</script>