<template>
    <div class="d-inline">
        <a :href="`#modal_${modal_id}`" :data-target="`#modal_${modal_id}`" data-toggle="modal" :class="modal_btn_class" @click.prevent>
            <slot name="btn-text"></slot>
        </a>

        <div class="modal fade" :id="`modal_${modal_id}`" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header theme-bg-color">
                        <h5 class="modal-title" id="exampleModalLabel">
                            <slot name="modal-title"></slot>
                        </h5>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="$emit('closed')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <slot name="modal-body"></slot>
                    </div>

                    <div class="modal-footer" v-if="footer">
                        <slot name="modal-footer"></slot>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            modal_btn_class: {
                default: null
            },

            modal_id: {
                type: [Number, String]
            },

            footer: {
                type: Boolean,
                default: false
            }
        }
    }
</script>