<template>
    <nav class="navbar navbar-expand-lg navbar-dark theme-secondary-bg-color fixed-top">
        <div class="container">

            <router-link :to="{ name: 'home' }" class="navbar-brand">
                <a href="/Home" class="px-2">
                <img border="0" alt="JGU Logo" src="\files\jgu_logo.jpg" width="30" height="30">
                </a>
            </router-link>
            
            <router-link :to="{ name: 'home' }" class="navbar-brand pr-5">
                Home
            </router-link>
            
            <button 
                class="navbar-toggler" 
                type="button" 
                data-toggle="collapse" 
                data-target="#navbarResponsive" 
                aria-controls="navbarResponsive" 
                aria-expanded="false" 
                aria-label="Toggle navigation">

                <span class="navbar-toggler-icon"></span>

            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <router-link :to="{name: 'archive'}" class="nav-link">
                            Archive
                        </router-link>
                    </li>

                    <!-- <li class="nav-item">
                        <router-link :to="{name: 'contact'}" class="nav-link">
                            Contact
                        </router-link>
                    </li> -->

                    <!-- <li class="nav-item">
                        <router-link :to="{name: 'FAQ'}" class="nav-link">
                            FAQ
                        </router-link>
                    </li> -->
                </ul>
            </div>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class=" navbar-nav ml-auto">
                    <div class="dropdown">
                        <a class="btn btn-theme-reverse dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ $root.user.name }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/mytopics">My Topics</a>
                            <a class="dropdown-item" href="/profile">Account Settings</a>
                            <a class="dropdown-item" href="#" @click.prevent="logout">Logout</a>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
</template>

<script>
    export default {
        methods: {
            logout() {
                localStorage.removeItem('user');
                localStorage.removeItem('access_token');

                this.$router.push({'name' : 'login'});
            }
        }   
    }
</script>