<template>
    <div class="py-2">
        <button type="button" class="btn btn-theme" data-toggle="modal" data-target="#new-topic-modal">
            Add new Thema
        </button>
        
        <div 
            class="modal fade" 
            id="new-topic-modal" 
            tabindex="-1" 
            role="dialog" 
            aria-labelledby="newTopicModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                       <h5 class="modal-title" id="newTopicModalLabel">
                           New Thema
                        </h5>

                       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <dropdown :data="topicTypes" label="Type of Work" type="type_id" @selected="selected"/>
                        
                        <dropdown :data="languages" label="Language" type="language" @selected="selected"/>

                        <div class="input-group py-2">
                            <input type="text" class="form-control" v-model="name">

                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">
                                    Thema name
                                </span>
                            </div>
                        </div>    

                        <dropdown :data="workGroups" label="Work Groups" type="work_group_id" @selected="selected"/>

                        <div class="input-group py-2">
                            <div class="input-group py-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Abstract</span>
                                </div>

                                <textarea class="form-control" v-model="abstract"></textarea>
                            </div>
                            
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" @change="setFile">

                                <label class="custom-file-label">
                                    {{ file ? file.name : 'Chose file' }}
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-theme" data-dismiss="modal">
                            Close
                        </button>
                        
                        <button 
                            type="button" 
                            class="btn btn-theme" 
                            :class="{'disabled' : disabled}"
                            :disabled="disabled" 
                            @click.prevent="saveTopic"
                        >
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Dropdown from './Dropdown.vue';
    import FilterGettersMixin from './../mixins/FilterGettersMixin.vue';

    export default {
        mixins: [
            FilterGettersMixin,
        ],

        components: {
            Dropdown
        },

        data() {
            return {
                type_id: '',
                language: '',
                name: '',
                work_group_id: '',
                abstract: '',
                file: null
            }
        },

        computed: {
            disabled() {
                return ! (this.type_id.length &&
                    this.language.length &&
                    this.name.length &&
                    this.work_group_id.length &&
                    this.abstract.length &&
                    this.file)
            }
        },
        
        methods: {
            selected({filter}) {
                this[filter.type] = filter.value;            
            },

            setFile(event) {
                let file;
 
                if (file = event.target.files[0]) {
                    this.file = file;
                }
            },

            saveTopic(event) {
                let data = new FormData();

                data.append('type_id', this.type_id);
                data.append('language', this.language);
                data.append('name', this.name);
                data.append('work_group_id', this.work_group_id);
                data.append('abstract', this.abstract);
                data.append('file', this.file);
                data.append('user_id', JSON.parse(localStorage.getItem('user')).id);

                axios
                    .post('/api/topics', data)
                    .then(() => $('#new-topic-modal').modal('hide'))
                    .catch(error => {
                        alert('Unsuspected error!');
                        console.log(error);
                    })
            }
        }
    }
</script>