<template>
    <div class="card login-card">
        <div class="card-header theme-bg-color">
          Notification: 
        </div>
        <div class="card-body">
            <dropdown 
                :data="filters"
                :includeNone="false"
                :initialSelected="selected_filter" 
                label="Search Profiles" 
                type="filter" 
                @selected="selected"
            />

            <hr>

            <button type="button" class="btn btn-theme btn-lg" @click.prevent="saveSettings">
                Save Notification Settings
            </button>
        </div>
    </div>
</template>

<script>
    import Dropdown from './Dropdown.vue';

    export default {
        components: { 
            Dropdown
        },

        data() {
            return {
                selected_filter: '',
                filters: [],
            }
        },


        mounted() {
            this.$nextTick(() => {
                this.getFilters();
            })  
        },

        methods: {
            selected(event) {
                this.selected_filter = event.filter.value;
            },

            getFilters() {
                axios
                    .get(`/api/user-filters/${this.$root.user.id}`)
                    .then(response => {
                        this.filters = response.data
                        this.setFilter();
                    })
                    .catch(error => {
                        console.log(error);
                        alert('Could not get user filters');
                    })
            },

            saveSettings() {
                const payload = {
                    filter_id: this.selected_filter
                };

                axios
                    .patch(`/api/user-notification/${this.$root.user.id}`, payload)
                    .then(() => alert('Successfully saved!'))
                    .catch((error) => {
                        console.log(error);
                        alert('Error in updating data');
                    })
                    
            },

            setFilter() {
                axios
                    .get(`/api/user-notification/${this.$root.user.id}`)
                    .then(({data}) => {
                        if (data) {
                            this.selected_filter = data.filter_id;
                        }
                    })
                    .catch(error => console.log(error));
            }
        }
    }
</script>