<template>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <h4><span class="badge theme-bg-color">Username:</span></h4>
            <p class="lead"> {{getUserName}} </p>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <h4><span class="badge theme-bg-color">Name:</span> </h4>
            <p class="lead"> {{ $root.user.name }} </p>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <h4><span class="badge theme-bg-color">email:</span></h4>
            <p class="lead"> {{ $root.user.email }} </p>
        </li>
    </ul>
</template>

<script>
export default {
    computed: {
        getUserName(){
           const atPosition = this.$root.user.email.indexOf('@');
           return this.$root.user.email.substring(0, atPosition);
        }
    }
}
</script>