<template>
    <div class="py-3">
        <p>Chose Default Filter: </p>
        <div class="dropdown pt-2">
            <button class="btn card-theme dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Default Filter</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Filter-01</a>
                <a class="dropdown-item" href="#">Filter-02</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>
</template>