<template>
    <div class="card login-card">
        <div class="card-header theme-bg-color">
          Register a new account: 
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                  <label for="full_name">
                    Full name
                  </label>
                  
                  <input 
                    type="text" 
                    class="form-control" 
                    id="full_name" 
                    placeholder="Enter full name"
                    v-model="name"
                    required
                  >
                </div>

                <div class="form-group">
                  <label for="email">
                    Email address
                  </label>
                  
                  <input 
                    type="email" 
                    class="form-control" 
                    id="email"  
                    placeholder="@students.uni-mainz.de"
                    v-model="email"
                    required
                  >
                </div>

                <div class="form-group">
                  <label for="password">
                    Password
                  </label>
                  
                  <input 
                    type="password" 
                    class="form-control" 
                    id="password" 
                    placeholder="Enter Password"
                    v-model="password"
                    required
                    min="6"
                  >
                </div>

                <div class="form-group">
                  <label for="password_confirmation">
                    Confirm Password
                  </label>
                  
                  <input 
                    type="password" 
                    class="form-control" 
                    id="password_confirmation" 
                    placeholder="Enter Password"
                    v-model="password_confirmation"
                    required
                    min="6"
                  >
                </div>
                
                <button type="submit" class="btn btn-theme" @click.prevent="register">
                  Register
                </button>
            </form>
        </div>
    </div>
</template>

<script>
  export default {
    data() {
      return {
        email: '',
        password: '',
        password_confirmation: '',
        name: ''
      }
    },

    methods: {
      register() {
        let payload = {
          email: this.email,
          password: this.password,
          password_confirmation: this.password_confirmation,
          name: this.name
        }

        axios.post('/api/auth/register', payload)
          .then(() => this.$router.push({'name' : 'login'}))
          .catch(error => {
            console.log(erorr.response);
            if (error.response.status === 400) {
              alert('Make sure you entered everything corectly! Validation Error.');
            }
          })
      }
    }
  }
</script>