<template>
    <span>
        <a :href="`/files/${item.file}`" target="_blank">
            <i class="far fa-file-pdf"></i>
        </a>

        <modal :modal_id="item.id">
            <template v-slot:btn-text>
                <i class="fas fa-search"></i>
            </template>

            <template v-slot:modal-title>
                Abstract for Topic: {{ item.name }}
            </template>

            <template v-slot:modal-body>
                {{ item.abstract }} 
            </template>
        </modal>
    </span>
</template>

<script>
    import Modal from './Modal.vue';

    export default {
        components: {
            Modal
        },

        props: ['item']
    }
</script>

<style scoped>
    @import '~@fortawesome/fontawesome-free/css/all.css';
</style>