<template>
    <span>
        <modal :modal_id="generateModalId('archive')" :footer="true">
            <template v-slot:btn-text>
                <i class="fas fa-undo" v-if="item.archived"></i>
                <i class="fas fa-archive" v-else></i>
            </template>

            <template v-slot:modal-title>
                Are you sure you want to {{ item.archived ? 'restore' : 'archive' }} this?
            </template>

            <template v-slot:modal-footer>
                <button type="button" class="btn btn-primary" data-dismiss="modal" @click="archiveTopic">
                    Yes
                </button>

                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    No
                </button>
            </template>            
        </modal>

        <modal :modal_id="generateModalId('edit')" :footer="true" @closed="resetTopic">
            <template v-slot:btn-text>
                <i class="fas fa-pencil-alt"></i>
            </template>

            <template v-slot:modal-title>
                Edit {{ selected_topic.name }}
            </template>

            <template v-slot:modal-body>
                <dropdown
                    v-if="topicTypes.length" 
                    :data="topicTypes" 
                    label="Type of Work" 
                    type="type_id"
                    :initialSelected="selected_topic.type_id"
                    @selected="selected" 
                />
                        
                <dropdown 
                    :data="languages" 
                    label="Language" 
                    type="language"
                    :initialSelected="selected_topic.language"
                    @selected="selected"   
                />

                <div class="input-group py-2">
                    <input type="text" class="form-control" v-model="selected_topic.name">

                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">
                            Thema name
                        </span>
                    </div>
                </div>    

                <dropdown
                    v-if="workGroups.length" 
                    :data="workGroups" 
                    label="Work Groups" 
                    type="work_group_id"
                    :initialSelected="selected_topic.work_group_id"
                    @selected="selected"  
                />

                <div class="input-group py-2">
                    <div class="input-group py-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Abstract</span>
                        </div>

                        <textarea class="form-control" rows="6" v-model="selected_topic.abstract"></textarea>
                    </div>
                    
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" @change="setFile">

                        <label class="custom-file-label">
                            {{ selected_topic.file.name || selected_topic.file }}
                        </label>
                    </div>
                </div>
            </template>

            <template v-slot:modal-footer>
                <button type="button" class="btn btn-danger" data-dismiss="modal" @click="resetTopic">
                    No
                </button>

                <button type="button" class="btn btn-primary" data-dismiss="modal" @click="updateTopic">
                    Yes
                </button>
            </template>            
        </modal>

        <modal :modal_id="generateModalId('delete')" :footer="true">
            <template v-slot:btn-text>
                <i class="fas fa-trash-alt"></i>
            </template>

            <template v-slot:modal-title>
                Are you sure you want to delete this?
            </template>

            <template v-slot:modal-footer>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    No
                </button>

                <button type="button" class="btn btn-primary" data-dismiss="modal" @click="deleteTopic">
                    Yes
                </button>
            </template>
        </modal>
    </span>
</template>

<script>
    import Dropdown from './Dropdown.vue';
    import FilterGettersMixin from './../mixins/FilterGettersMixin.vue';
    import Modal from './Modal.vue';
    
    export default {
        mixins: [
            FilterGettersMixin,
        ],

        components: {
            Dropdown,
            Modal
        },

        props: ['item', 'index'],

        data() {
            return {
                selected_topic: { ... this.item },
                starting_state: { ... this.item }
            }
        },

        computed: {
            topics_api_path() {
                return `/api/topics/${this.selected_topic.id}`;
            }
        },

        methods: {
            selected({filter}) {
                this.selected_topic[filter.type] = filter.value
            },

            setFile(event) {
                this.selected_topic.file = event.target.files[0];
            },

            generateModalId(label) {
                return label + this.selected_topic.id;
            },

            archiveTopic() {
                let payload = {
                    'archived' : ! this.item.archived
                };

                axios
                    .patch(`${this.topics_api_path}/archive`, payload)
                    .then(() => {
                        alert('Action has been succesfully executed!')
                        this.emitDeleteEvent();
                    })
                    .catch(error => {
                        alert('Someting went wrong!');
                        console.log(error);
                    })
            },

            updateTopic() {
                let data = new FormData();

                data.append('type_id', this.selected_topic.type_id);
                data.append('language', this.selected_topic.language);
                data.append('name', this.selected_topic.name);
                data.append('work_group_id', this.selected_topic.work_group_id);
                data.append('abstract', this.selected_topic.abstract);
                data.append('file', this.selected_topic.file);
                data.append('_method', 'PATCH');

                axios
                    .post(this.topics_api_path, data)
                    .then(response => {
                        console.log(response.data);
                        this.$emit('item_updated', {
                            'index' : this.index,
                            'item' : response.data
                        })
                        alert('Selcted topic has been sucessfully updated!')
                    })
                    .catch(error => {
                        alert('Someting went wrong!');
                        console.log(error);
                    })
            },

            deleteTopic() {
                axios
                    .delete(this.topics_api_path)
                    .then(() => {
                        alert('Selcted topic has been sucessfully deleted!')
                        this.emitDeleteEvent();
                    })
                    .catch(error => {
                        alert('Someting went wrong!');
                        console.log(error);
                    })
            },

            resetTopic() {
                this.selected_topic = this.starting_state;
            },

            emitDeleteEvent() {
                this.$emit('item_deleted', { index : this.index });
            }
        }
    }
</script>

<style scoped>
    @import '~@fortawesome/fontawesome-free/css/all.css';
</style>